.blog-single-base {
    @apply
    mt-[100px]
    mb-[210px]
    md:mx-0
    mx-5
}

.blog-single-title {
    @apply
    hidden
    text-center
    md:flex
    justify-center
    mx-auto 
    text-[#3C3C3C]
    text-[45px]
    font-lora
    font-bold
    w-[500px]
    mb-[30px]
}

.blog-single-title2 {
    @apply
    text-[#3C3C3C]
    font-lora
    font-bold
    mt-[10px]
    mb-[20px]
    md:hidden
}

.blog-single-text {
    @apply
    md:mx-9
    md:mt-[30px]
    text-[#646464]
    text-[14px]
    font-satoshi
}

.blog-single-author {
    @apply
    text-right
    mt-[20px]
    text-[#C8C8C8]
    text-[14px]
    font-satoshi
    hidden
    md:inline-block
}

.blog-single-author2 {
    @apply
    text-left
    mt-[20px]
    text-[#C8C8C8]
    text-[14px]
    font-satoshi
}