.home-base-div {
    @apply
    overflow-hidden
}

.home-main{
    @apply
    m-0
    absolute
    top-[0px]
    pl-10
    2xl:pl-[230px]
}

.home-img {
    @apply
    relative
    bg-cover
    md:w-full
    md:object-fill
    md:object-center
    md:max-w-full
    w-[1024px]
    h-[577px]
    2xl:h-[1082px]
}

.home-img {
    object-fit: cover;
    object-position: -400px;
}

@media screen and (min-width: 580px) {
    .home-img {
        object-position: 0px;
    }
}

.home-h3 {
    @apply
    text-[#E1CD96]
}

.home-h1 {
    @apply
    text-[#F5F5F5]
    text-left
    mt-[130px]
    2xl:mt-[273px]
    md:text-[60px]
    text-[30px]
    font-lora
    font-bold
    tracking-[0.033em]
    2xl:text-[90px]
}
.home-text{
    @apply
    mr-[58px]
    md:mr-0
    text-[#F5F5F5]
    text-[20px]
    2xl:text-[28px]
    mt-[10px]
    md:mt-[19px]
    font-normal
    font-lora
}
.home-projects-div h6{
    @apply
    text-[#E1CD96]
    text-[14px]
    2xl:text-[28px]
    font-bold
    font-satoshi
    
}

.projects-head {
    @apply
    md:grid
    md:grid-cols-12
    mt-[34px]
    text-center
    text-[#3C3C3C]
    font-lora
    font-black
    text-3xl
    2xl:text-[56px]
    md:text-5xl
}

.projects-head-hr {
    @apply
    md:flex
    mt-6
    h-1/2
    border-t-2
    border-black
    hidden
}

.home-projects {
    @apply
    md:mx-10
    mx-8
    md:grid
    md:grid-cols-3
    md:gap-x-8
    2xl:gap-x-10
    2xl:mx-[230px]

}

.home-projects-div {
    @apply
    border
    grid
    grid-rows-6
    border-[#707070]
    text-[#3c3c3c]
    mt-[35px]
    px-[25px]
    py-[30px]
    2xl:px-[40px]
    2xl:py-[45px]
}

.home-projects-div:hover {
    @apply
    md:bg-[#323c50]
    md:text-[#f5f5f5]
    md:transition-colors
}

.home-projects-div h1 {
    @apply
    row-span-2
    text-[22px]
    2xl:text-[32px]
    font-bold
    font-satoshi
    text-[#3c3c3c]
}

.home-projects-div:hover h1 {
    @apply
    md:text-[#f5f5f5]
}

.home-projects-div:hover h6 {
    @apply
    md:text-[#f5f5f5]
}

.home-projects-div:hover p {
    @apply
    md:text-[#f5f5f5]
}

.home-projects-div p {
    @apply
    row-span-3
    text-[14px]
    2xl:text-[18px]
    text-[#3c3c3c]
    font-lora
}

.home-projects-div h6 {
    @apply
    row-span-1
    font-bold
    mt-[12px]
    bottom-0
    font-satoshi
    text-[#3c3c3c]
    mb-auto
}

.home-online {
    @apply
    mt-12
    2xl:mt-[320px]
    h-[350px]
    2xl:h-[455px]
}

.home-online img {
    @apply
    md:relative
    w-full
    h-[350px]
    2xl:h-[455px]
}

.home-online-text {
    @apply
    relative
    md:top-[-221px]
    2xl:top-[-301px]
    top-[-291px]
    text-center
    font-satoshi
}

.home-online-soru {
    @apply
    text-[#E1CD96]
    md:text-4xl
    text-3xl
    2xl:text-[70px]
    mx-[45px]
    md:mx-0
    font-bold
    font-satoshi
}

.home-online-direction {
    @apply
    text-[#F5F5F5]
    text-base
    2xl:text-[30px]
    mt-3
    2xl:mt-10
    md:mx-0
    mx-8
    font-satoshi
}

.home-online-button {
    @apply
    mt-3
    md:mt-5
    border-[#E1CD96]
    bg-[#363636B8]
    text-[#E1CD96]
    text-[10px]
    2xl:text-[18px]
    mb-[50px]
    border
    rounded-full
    px-4
    py-2
    font-satoshi
}

.home-online-button:hover {
    @apply
    bg-[#9C9C9CE0]
}

.home-last-blog {
    @apply
    text-center
    font-satoshi
    md:mt-[20px]
    mt-[30px]
    2xl:mt-[130px]
}

.home-last-blog-head {
    @apply
    text-[#33384E]
    mx-10  
    md:mx-0
    text-3xl
    md:text-4xl
    2xl:text-[74px]
    font-bold
    items-center
    justify-center
    mt-[60px]	
}

.home-last-blog-direction {
    @apply
    md:mt-3
    mt-4
    2xl:mt-8
    mx-16
    2xl:text-[30px]
    md:mx-0
    text-[#3C3C3C]
}

.home-last-blog-button {
    @apply
    mt-5
    border
    rounded-full
    px-12
    py-2
    bg-[#33384E]
    text-[#F5F5F5]
    text-[10px]
    2xl:text-[18px]
    border-[#E1CD96]
    mb-[80px]
    2xl:mb-[150px]
}

.home-last-blog-button:hover {
    @apply
    bg-[#9C9C9CE0]
}







.home-projects-div div h1 {
    @apply
    text-[22px]
    2xl:text-[32px]
    font-bold
    font-satoshi
    text-[#3c3c3c]
}

.home-projects-div div p {
    @apply
    text-[14px]
    2xl:text-[18px]
    mt-[20px]
    text-[#3c3c3c]
    font-lora
}

.home-projects-div div h6 {
    align-items: flex-end;
    @apply
    font-bold
    mt-[12px]
    bottom-0
    font-satoshi
    text-[#3c3c3c]
    mb-auto
}